<html>
    <head>
        <title>Aziz Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Abdul Aziz Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

        <!-- <div>
            <p>published: 22.12.2017, 12:26</p>
            <h2><a href="">My first post</a></h2>
            <p>Assalamualikum Everyone, Alhamdulillah getting start with Django</p>
        </div>

        <div>
            <p>publishe: 22.12.2017, 12:30</p>
            <h2><a href="">My second post</a></h2>
            <p>Working to get started with..</p>
        </div> -->
    </body>
</html>